.colors {
color: #222222; /* black */
color: #20B2AA; /* blue */
color: #9F6934; /* brown */
color: #555555; /* gray */
color: #32CD32; /* green */
color: #ff4500; /* red orange */
color: #D2A679; /* tan */
color: #FF00FF; /* pink */
color: #9933FF; /* purple */
}